.navbar {
  display: flex;
  padding: 10px;
  border-bottom: 1px solid rgba(0,0,0,.1);
}
.navbar a {
  text-decoration: none;
  margin: 10px 25px;
  color: #333;
  transition: .3s;
}
.navbar a p {
  margin: 0;
}
.navbar a:hover {
  color: #00C7E8;
}
.active {
  border-bottom: 1px solid #00C7E8;
}
.active p {
  color: #00C7E8;
}

